.Loginsignup{
width:100%;
height:130vh;
background:#fce3fe;
padding-top:100px;

}
.Loginsignup-container{
width:580px;
height:650px;
background: white;
margin:auto;
padding:40px 60px;
}
.Loginsignup-container h1{
    margin:20px 0px;

}
.Loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap:29px;
    margin-top: 30px;
}
.Loginsignup-fields input{
    height:72px;
    width:100%;
    padding-left:20px;
    border:1px solid #c9c9c9;
    outline:none;
    color:#5c5c5c;
    font-size: 18px;
}
.Loginsignup-container button{
    width:400px;
    height:72px;
    color:white;
    background: #ff4141;
    margin-top: 30px;
    border:none;
    font-size: 24px;
    font-weight: 500;
    cursor:pointer;
}
.Loginsignup-login{
    margin-top: 20px;
    color:#5c5c5c;
    font-size: 18px;

    font-weight: 500;
}
.Loginsignup-login{
color:#ff4141;
font-weight: 600;
}
.Loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap:20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;
}